<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/users']" mat-button>Usuarios</a>
    <a href="#" mat-button>Pagos</a>
    <a [routerLink]="['/memberships']" mat-button>Membresías</a>
    <a href="#" mat-button>Acceso QR</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer opened mode="side" [style.width.vw]="15">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of links$ | async"
        [routerLink]="[item.link]"
      >
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div [style.padding.px]="15">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
