<mat-card>
  <mat-card-header>
    <mat-card-title>
      Dirección
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div fxLayoutGap="10px" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex="40%">
          <mat-label>
            Calle
          </mat-label>
          <input matInput formControlName="street" />
          <mat-error>
            <span *ngIf="form.hasError('required', 'street')">
              Este campo es requerido.
            </span>
            <span *ngIf="form.hasError('pattern', 'street')">
              Sólo se aceptan letras y números.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>
            No. Ext.
          </mat-label>
          <input matInput formControlName="externalNumber" />
          <mat-error>
            <span *ngIf="form.hasError('required', 'externalNumber')">
              Este campo es requerido.
            </span>
            <span *ngIf="form.hasError('pattern', 'externalNumber')">
              Sólo se aceptan letras, números y un espacio.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>
            No. Int. (Opcional)
          </mat-label>
          <input matInput formControlName="internalNumber" />
          <mat-error>
            <span *ngIf="form.hasError('required', 'internalNumber')">
              Este campo es requerido.
            </span>
            <span *ngIf="form.hasError('pattern', 'internalNumber')">
              Sólo se aceptan letras, números y un espacio.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>
            Código postal
          </mat-label>
          <input matInput formControlName="postalCode" maxlength="5" />
          <mat-error>
            <span *ngIf="form.hasError('required', 'postalCode')">
              Este campo es requerido.
            </span>
            <span *ngIf="form.hasError('pattern', 'postalCode')">
              No es un código postal válido.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutGap="10px" fxLayoutAlign="space-between stretch">
        <mat-form-field fxFlex>
          <mat-label>
            Estado
          </mat-label>
          <ng-container *ngIf="form.disabled; else stateSelect">
            <input matInput formControlName="state" />
          </ng-container>
          <ng-template #stateSelect>
            <mat-select formControlName="state">
              <mat-option value="Veracruz">
                Veracruz
              </mat-option>
            </mat-select>
          </ng-template>
          <mat-error>
            <span *ngIf="form.hasError('required', 'state')">
              Este campo es requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>
            Municipio
          </mat-label>
          <ng-container *ngIf="form.disabled; else municipalitySelect">
            <input matInput formControlName="municipality" />
          </ng-container>
          <ng-template #municipalitySelect>
            <mat-select formControlName="municipality">
              <mat-option value="Orizaba">
                Orizaba
              </mat-option>
            </mat-select>
          </ng-template>
          <mat-error>
            <span *ngIf="form.hasError('required', 'municipality')">
              Este campo es requerido.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>
            Colonia
          </mat-label>
          <ng-container *ngIf="form.disabled; else districtSelect">
            <input matInput formControlName="district" />
          </ng-container>
          <ng-template #districtSelect>
            <mat-select formControlName="district">
              <mat-option value="Centro">
                Centro
              </mat-option>
            </mat-select>
          </ng-template>
          <mat-error>
            <span *ngIf="form.hasError('required', 'district')">
              Este campo es requerido.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" hidden #submitButton></button>
    </form>
  </mat-card-content>
</mat-card>
