<mat-progress-bar
  mode="indeterminate"
  *ngIf="isLoading$ | async"
></mat-progress-bar>

<h1 class="mat-headline">
  Listado de membresías
</h1>

<mat-table [dataSource]="memberships$ | async" class="mat-elevation-z1">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let membership">
      {{ membership.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
    <mat-cell *matCellDef="let membership"> ${{ membership.price }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef>Duración</mat-header-cell>
    <mat-cell *matCellDef="let membership">
      {{ membership.duration }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timeUnit">
    <mat-header-cell *matHeaderCellDef>Unidad de tiempo</mat-header-cell>
    <mat-cell *matCellDef="let membership">
      <ng-container [ngSwitch]="membership.durationTimeUnit">
        <p *ngSwitchCase="'D'">Día</p>
        <p *ngSwitchCase="'W'">Semana</p>
        <p *ngSwitchCase="'M'">Mes</p>
        <p *ngSwitchCase="'Y'">Año</p>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let membership">
      <div fxLayoutGap="10px">
        <a
          [routerLink]="['/memberships', membership.id, 'edit']"
          mat-stroked-button
          color="primary"
        >
          Editar
        </a>
        <button
          mat-stroked-button
          color="warn"
          (click)="onDelete(membership.id)"
        >
          Eliminar
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
