<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<div fxLayout="column" fxLayoutGap="10px">
  <h1 class="mat-headline">
    Historial de pagos
  </h1>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Búsqueda de usuario
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <payment-user-search-form
        [isSubmitting]="isLoading$ | async"
        (onSubmit)="onSearch($event)"
      ></payment-user-search-form>
    </mat-card-content>
  </mat-card>

  <payments-list
    *ngIf="hasPayments$ | async"
    [source]="payments$ | async"
  ></payments-list>

  <ng-container *ngIf="(payments$ | async)?.length == 0">
    <mat-card>
      <mat-card-content>
        Parece que este cliente aún no tiene pagos registrados.
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
