<mat-table [dataSource]="source" class="mat-elevation-z2">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let payment"> #{{ payment.id }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
    <mat-cell *matCellDef="let payment"> ${{ payment.quantity }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
    <mat-cell *matCellDef="let payment">
      {{ payment.date | date: 'dd/MM/yyyy' }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
