<h1 class="mat-headline">
  Editar membresía
</h1>

<mat-card>
  <mat-card-content>
    <membership-form
      [membership]="membership$ | async"
      (onSubmit)="onSubmit($event)"
    ></membership-form>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end" fxLayoutGap="10px">
    <a routerLink="/memberships" mat-button>Cancelar</a>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.shouldDisable()"
      (click)="form.submit()"
    >
      Guardar
    </button>
  </mat-card-actions>
</mat-card>
