<mat-card>
  <mat-card-header>
    <mat-card-title>
      Datos médicos
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>
            Afiliación
          </mat-label>
          <mat-select formControlName="affiliation">
            <mat-option value="imss">IMSS</mat-option>
            <mat-option value="issste">ISSSTE</mat-option>
            <mat-option value="popular">Seguro popular</mat-option>
            <mat-option value="other">Otra</mat-option>
          </mat-select>
          <mat-error>
            Este campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="form.value.affiliation == 'other'">
          <mat-label>
            Nombre de afiliación
          </mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Tipo de sangre
          </mat-label>
          <mat-select formControlName="bloodType">
            <mat-option value="A">A</mat-option>
            <mat-option value="B">B</mat-option>
            <mat-option value="AB">AB</mat-option>
            <mat-option value="O">O</mat-option>
          </mat-select>
          <mat-error>
            Este campo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            RH
          </mat-label>
          <mat-select formControlName="rh">
            <mat-option value="P">POSITIVO</mat-option>
            <mat-option value="N">NEGATIVO</mat-option>
          </mat-select>
          <mat-error>
            Este campo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>
            Alergias
          </mat-label>
          <input matInput formControlName="alergies" />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>
            Padecimientos
          </mat-label>
          <input matInput formControlName="diseases" />
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <h2 class="mat-subheading-2">
          Contacto de emergencia
        </h2>
        <div fxLayoutGap="10px" formGroupName="emergencyContact">
          <mat-form-field fxFlex>
            <mat-label>
              Nombre
            </mat-label>
            <input matInput formControlName="name" />
            <mat-error>
              <span *ngIf="form.hasError('required', 'emergencyContact.name')">
                Este campo es requerido.
              </span>
              <span *ngIf="form.hasError('pattern', 'emergencyContact.name')">
                Sólo se aceptan letras y espacios.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>
              Apellido paterno
            </mat-label>
            <input matInput formControlName="firstSurname" />
            <mat-error>
              <span *ngIf="form.hasError('required', 'emergencyContact.name')">
                Este campo es requerido.
              </span>
              <span *ngIf="form.hasError('pattern', 'emergencyContact.name')">
                Sólo se aceptan letras y espacios.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>
              Apellido materno
            </mat-label>
            <input matInput formControlName="secondSurname" />
            <mat-error>
              <span *ngIf="form.hasError('required', 'emergencyContact.name')">
                Este campo es requerido.
              </span>
              <span *ngIf="form.hasError('pattern', 'emergencyContact.name')">
                Sólo se aceptan letras y espacios.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>
              Teléfono
            </mat-label>
            <input matInput formControlName="phone" maxlength="10" />
            <mat-error>
              <span *ngIf="form.hasError('required', 'emergencyContact.phone')">
                Este campo es requerido.
              </span>
              <span *ngIf="form.hasError('pattern', 'emergencyContact.phone')">
                No es un teléfono válido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" hidden #submitButton></button>
    </form>
  </mat-card-content>
</mat-card>
