<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<div fxLayoutAlign="space-between">
  <h1 class="mat-headline">Registrar usuario</h1>
  <div fxLayoutGap="10px">
    <span class="mat-body text-warn" *ngIf="form.shouldDisable">
      Parece que hay campos faltantes.
    </span>
    <a routerLink="/users" mat-button>Cancelar</a>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.shouldDisable"
      (click)="form.submit()"
    >
      Guardar usuario
    </button>
  </div>
</div>

<user-form-layout
  [isLoading]="isLoading$ | async"
  [memberships]="memberships$ | async"
  (onSubmit)="onSubmit($event)"
></user-form-layout>
