<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>

<div fxLayoutAlign="space-between start">
  <h1 class="mat-headline">Editar usuario</h1>
  <div fxLayoutGap="10px">
    <span class="mat-body text-warn" *ngIf="form.shouldDisable">
      Parece que hay campos faltantes.
    </span>
    <a routerLink="/users" mat-stroked-button>
      Cancelar
    </a>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.shouldDisable"
      (click)="form.submit()"
    >
      Guardar cambios
    </button>
  </div>
</div>

<user-form-layout
  (onSubmit)="onSubmit($event)"
  [client]="client$ | async"
  [memberships]="memberships$ | async"
></user-form-layout>
