<div fxLayoutAlign="space-between start">
  <h1 class="mat-headline">Editar usuario</h1>
  <div fxLayoutGap="10px">
    <span class="mat-body text-warn" *ngIf="form.invalid">
      Parece que hay campos faltantes.
    </span>
    <a routerLink="/users" mat-stroked-button>
      Cancelar
    </a>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="form.submit()"
    >
      Guardar cambios
    </button>
  </div>
</div>

<user-form-layout></user-form-layout>
